#main-container #configs-container {
    padding: 20px;
}

#main-container section {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#main-container section #rooms-container ul {
    min-width: 300px;
    overflow: auto;
    max-height: 300px;
}

#main-container section #rooms-container ul li {
    width: 100%;
    padding: 10px;
}

#main-container section #room-form-container #room-form {
    display: flex;
    flex-direction: column;
}

@media (max-width: 600px) {
    #main-container section {
        display: flex;
        flex-direction: column;
    }
}
