
#chat-container #header {
    padding: 10px;
}

#chat-container section {
    display: flex;
    height: 70vh;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

#chat-container section ul {
    min-width: 400px;
    height: 100%;
    display: flex;
    border: solid var(--primary) 2px;
    overflow: auto;
    padding: 5px;
}


#chat-container section ul li {
    list-style: none;
}

#chat-container section form {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
