#home-container {
    min-height: 100vh;
    background-color: var(--primary);
}

#home-container #configs-container {
    padding: 20px;
}

#home-container section {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#home-container section #rooms-container ul {
    min-width: 300px;
    width: 50vw;
    height: 80vh;
    overflow: auto;
    max-height: 400px;
    padding: 0px 10px;
    border-radius: 10px;
    background-color: var(--bg);
    box-shadow: inset 0 0 10px #21212180;
}

#home-container section #rooms-container ul li {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 2px 0px;
    box-shadow: 5px 5px 10px #21212130;
    margin: 10px 0px;
}

#home-container section #room-form-container #room-form {
    display: flex;
    flex-direction: column;
    width: 300px;
}

@media (max-width: 600px) {
    #home-container {
        padding-bottom: 20px;
    }
    #home-container section {
        display: flex;
        flex-direction: column;
    }
}
