:root {
    --primary: #212121;
    --bg: #eee;
    --secundary: #eeeeee50;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
}

.container {
    display: flex;
    justify-content: space-around;
}
