@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
    --primary: #4F758C;
    --secundary: #7794A6;
    --activable: #F2C094;
    --activated: #F2C09480;
    --black: #212121;
    --bg: #eee;
    --username: #eeeeee80;
    --my-message: #2E8B57;
    --not-my-message: #2F4F4F;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    width: 100%;
    height: 100vh;
    background-color: var(--bg);
}

.container {
    display: flex;
    justify-content: space-around;
}

button {
    padding: 10px;
    border: none;
    border-radius: 10px;
    color: var(--black);
    background-color: var(--activable);
}

button:hover {
    background-color: var(--activated);
    cursor: pointer;
}

input {
    padding: 10px;
    border: none;
    border-radius: 10px;
    margin: 2px 0px;
    color: var(--black);
    background-color: var(--bg);
    border: solid 2px var(--primary);
}
